/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   /* background-color: chartreuse; */
   max-width: 1800px;
   
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;
    font-weight: 17px;
    font-family:sans-serif ;
    color: #fff;

}
.container>div{
    flex:100%;


}
.subContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: rgb(152, 57, 57);
    max-width: 100%;
    border-radius: 8px;
}
nav.navbar__menu{
    
    background-color: rgb(15, 9, 0);
    min-height: 25px;
    min-width: 550px;
    flex-wrap: wrap;
}
ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: flex-end;
    min-height: 25px;
    background-color: blue;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
li.navbar__selections{
    list-style: none;
    margin-top: 20px;
    color: rgb(210, 206, 206);
    justify-content: space-between;
}
li.navbar__selections:hover{
    /* opacity: .5; */
    background-color: aquamarine;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}
.aside{
    flex: 1;
    background-color: aqua;
    
}
.aside_wrapper{
    flex-direction: row;
    padding: 20px;
    min-height: 250px;
    gap: 10px;
    background-color: rgb(45, 61, 61);
    border: 5px solid rgb(181, 46, 46);
}
.container1,.container2{
    padding-top: 20px;
    
    min-height: 200px;
    min-width: 250px;
    background-color: rgb(194, 54, 54);
    flex: 1;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    border: 8px solid rgb(235, 233, 233);

}


.main__container{
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.main__container>div{
    flex: 100%;
}
h4{
    padding: 10px;
}

.main{
    min-height: 250px;
    max-height: 350px;
    background-color: rgb(62, 192, 44);
    border: 2px solid black;
    
}
.main1,.main2,.main3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
    background-color: cadetblue;
    width: 350px;
    height: 250px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    
}
.main1,.main2,.main3:hover{
    cursor: pointer;
    
}

/* content */
.content{
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
    gap: 10px;
    padding-right: 10px;
    background-color: rgb(218, 164, 93);
    border: 2px solid black;
}
.content1,.content2,.content3{
    min-height: 200px;
    background-color: darkgrey;
    flex: 1;
    cursor: pointer;
    margin-top: 20px;
    border: 2px solid black;
    

}

/* Footer */
.footer{
    flex: 100%;
    /* padding-right: 300px; */
    padding: 10px;
    margin: 0;
    min-height: 250px;
    border: 2px solid black;
    background-color: blueviolet;
    box-sizing: border-box;
}

.footer_content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid black;
    
}
.footer_content1,.footer_content2,.footer_content3{
    min-height: 200px;
    border: 2px solid black;
    background-color: darkgrey;
    flex: 1;
}

.aside,.main,.content>div,.footer_content>div{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

@media (width <=768px) {
    header{
        width: 100%;
    }
    div.aside_wrapper{
        flex-direction: row;
        width: 100%;

    }

   
}

@media only screen and(max-width:768px){
    .subContainer{
        flex-direction: column;
    }
    .aside{
        min-height: 50px;
    }
}

@media only screen and(max-width:550px){
    .content>div{
        flex: 100%;
    }
    .content1,.content2,.content3{
        min-height: 170px !important;
    }
    .footer_content{
        flex: 100%;
    }
    .footer_content1,.footer_content2,.footer_content3{
        min-height: 170px !important;
    }
}

